@model IEnumerable<SBS.BusinessEntity.Appointment>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DealerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachanicId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Dealer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mechanic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                @if (item.Status == 0)
                {
                    <p style="color: dodgerblue;font-weight: bold">Pending</p>
                }
                @if (item.Status == 1)
                {
                    <p style="color: limegreen;font-weight: bold">Approved</p>
                }
                @if (item.Status == -1)
                {
                    <p style="color: red;font-weight: bold">Rejected</p>
                }
            </td>
            <td>
                <button class="btn btn-primary" id="@item.Id" onclick="myFunc(this.id);">
                    Update
                </button> |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })

            </td>
        </tr>

    }

</table>


<div id="dynamic-modal">
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>

<script type="text/javascript">
    function myFunc(id) {
        $.get('/Appointment/Update/'+id, { }, function (response) {
            $("#dynamic-modal").html(response);
        });
    }

    //function myFuncDelete(id) {
    //    $.get('/Appointment/Delete/' +id, {}, function (response) {
    //        //$("#dynamic-modal").html(response);
    //        window.location = "/Appointment/Index"
    //    });
    //}


    //function myFuncDelete(id) {
    //    e.preventDefault();
    //    $.ajax({
    //        type: "DELETE",
    //        dataType: "json",
    //        data: JSON.stringify({ id: id }),
    //        url: '/Appointment/Delete',
    //        contentType: 'application/json; charset=utf-8',
    //        success: function (data) {
    //            if (data) {
    //                window.location = "/Appointment/Index";
    //            }
    //        },
    //        error: function (erro) {
    //            console.debug(erro);
    //        }
    //    });
    //}
    
</script>
